.contenedor {
	width:300px;
	padding: 10px;
	margin-top: 25px;
	position: absolute;
    margin-left: 35%;
  
    text-align: center;
    justify-content: center;
  	
	background-color: #fff;
}
form {
	margin: 10px;
}
.mybtn {
	margin-top: 6px;
	padding: 3px;
	border-radius: 0.25rem;
	color: #fff;
	 background-color: transparent;
  border:1px solid transparent;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-login {
  color: #fff;
  background-color: #AEADF0;
  border-color: #9F9EE2;
}
.btn-login:hover {
  color: #fff;
  background-color: #9F9EDB;
  border-color: #9F9EDB;
}